[submodule "themes/bare"]
	path = themes/bare
	url = https://github.com/orf/bare-hugo-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
